Options -MultiViews
RewriteEngine On
RewriteBase /batcaverna/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /batcaverna/index.html [L]
